# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Virtual Environment
# =========================
venv/
env/
ENV/
.venv/

# =========================
# Environment Variables (IMPORTANT)
# =========================
.env

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor Files
# =========================
.vscode/
.idea/

# =========================
# Logs & Temporary Files
# =========================
*.log
*.tmp
.pytest_cache/

# =========================
# Data Files
# =========================
*.csv
*.xlsx

# =========================
# Model Files
# =========================
*.pkl
*.joblib

# =========================
# Misc
# =========================
*.bak
output/playwright/
